<div ng-show="loading"><h2>Loading...</h2></div>
<div ng-if="!loading">
  <h2>Add New Inventory Item</h2>
  <form ng-submit="add(item)">
    <dl>
      <dt>Name <small>The title of this item (keep it short and to the point).</small></dt>
      <dd class="field">
        <input type="text" class="xxwide text input" ng-model="item.name">
      </dd>
      <dt>Details <small>Any descriptive information. Should be more detailed than the name.</small></dt>
      <dd class="field">
        <textarea class="xxwide textarea input" ng-model="item.details"></textarea>
      <dt>Category <small>The type of equipment that this item is.</small></dt>
      <dd class="field">
        <select class="xxwide select input" ng-model="item.category" ng-options="category.url as category.name for category in itemCategories"></select>
      </dd>
      <dt>Owner <small>Who actually owns this item?</small></dt>
      <dd class="field">
        <select class="xxwide select input" ng-model="item.owner" ng-options="owner.url as owner.name for owner in itemOwners"></select>
      </dd>
      <dt>Responsible Committee Position <small>The member of the Cinema committee responsible for looking after the item.</small> </dt>
      <dd class="field">
        <select class="xxwide select input" ng-model="item.responsible_position" ng-options="position.url as position.name for position in itemResponsiblePositions"></select>
      </dd>
    </dl>
    <ul>
      <li>
        <div class="btn primary norm">
          <input type="submit" value="Add">
        </div>
      </li>
    </ul>
  </form>
</div>
