<h2>Add New Item</h2>
<form ng-submit="add(item)">
  <dl>
    <dt>Name</dt>
    <dd class="field">
      <input type="text" class="xxwide text input" ng-model="item.name">
    </dd>
    <dt>Details</dt>
    <dd class="field">
      <textarea class="xxwide textarea input" ng-model="item.details"></textarea>
    <dt>Purchase Date</dt>
    <dd class="field">
      <input type="text" class="xxwide text input" placeholder="dd/mm/yyyy" ng-model="item.purchase_date" ng-pattern="/(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d/">
    </dd>
    <dt>Purchase Price</dt>
    <dd class="field">
      <input type="text" class="xxwide text input" ng-model="item.purchase_price">
    </dd>
    <dt>Original Supplier</dt>
    <dd class="field">
      <select class="xxwide select input" ng-model="item.supplier" ng-options="supplier.url as supplier.name for supplier in suppliers"></select>
    </dd>
    <dt>Category</dt>
    <dd class="field">
      <select class="xxwide select input" ng-model="item.category" ng-options="category.url as category.name for category in itemCategories"></select>
    </dd>
    <dt>Status</dt>
    <dd class="field">
      <select class="xxwide select input" ng-model="item.status" ng-options="status.url as status.name for status in itemStatuses"></select>
    </dd>
    <dt>Owner</dt>
    <dd class="field">
      <select class="xxwide select input" ng-model="item.owner" ng-options="owner.url as owner.name for owner in itemOwners"></select>
    </dd>
    <dt>Responsible Comittee Position</dt>
    <dd class="field">
      <select class="xxwide select input" ng-model="item.responsible_position" ng-options="position.url as position.name for position in itemResponsiblePositions"></select>
    </dd>
    <dt>Home</dt>
    <dd class="field">
      <select class="xxwide select input" ng-model="item.home" ng-options="home.url as home.name for home in itemHomes"></select>
    </dd>
  </dl>
  <ul>
    <li>
      <div class="btn primary norm">
        <input type="submit" value="Add">
      </div>
    </li>
  </ul>
</form>
