<div ng-show="loading"><h2>Loading...</h2></div>
<div ng-if="!loading">
	<h2><div class="btn primary large" ng-click="hBack()"><a href><i class="icon-arrow-left"></i></a></div> {{ data.name }}</span></h2>
	<tabs>
		<tab tab-title="Information">
			<dl>
				<dt>Asset ID</dt><dd>{{ data.id }}</dd>
        <dt>Name</dt>
          <dd ng-hide="editing">{{ data.name }}</dd>
          <dd ng-show="editing" class="field">
            <input type="text" class="xxwide text input" ng-model="edit_data.name">
          </dd>
				<dt>Details</dt>
          <dd ng-hide="editing">{{ data.details }}</dd>
          <dd ng-show="editing" class="field">
            <textarea class="xxwide textarea input" ng-model="edit_data.details"></textarea>
        <dt>Purchase Date</dt>
          <dd ng-hide="editing">{{ data.purchase_date | date : 'dd/MM/yy' }}</dd>
          <dd ng-show="editing" class="field">
            <input type="text" class="xxwide text input" placeholder="dd/mm/yyyy" ng-model="edit_data.purchase_date" ng-pattern="/(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d/">
          </dd>
        <dt>Purchase Price</dt>
          <dd ng-hide="editing">{{ data.purchase_price | currency : "&pound;" }}</dd>
          <dd ng-show="editing" class="field">
            <input type="text" class="xxwide text input" ng-model="edit_data.purchase_price">
          </dd>
	       <dt>Original Supplier</dt>
          <dd ng-hide="editing">{{ data.supplier.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.supplier" ng-options="supplier.url as supplier.name for supplier in suppliers"></select>
          </dd>
        <dt>Category</dt>
          <dd ng-hide="editing">{{ data.category.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.category" ng-options="category.url as category.name for category in itemCategories"></select>
          </dd>
        <dt>Status</dt>
          <dd ng-hide="editing">{{ data.status.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.status" ng-options="status.url as status.name for status in itemStatuses"></select>
          </dd>
        <dt>Owner</dt>
          <dd ng-hide="editing">{{ data.owner.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.owner" ng-options="owner.url as owner.name for owner in itemOwners"></select>
          </dd>
        <dt>Responsible Comittee Position</dt>
          <dd ng-hide="editing">{{ data.responsible_position.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.responsible_position" ng-options="position.url as position.name for position in itemResponsiblePositions"></select>
          </dd>
        <dt>Home</dt>
          <dd ng-hide="editing">{{ data.home.name }}</dd>
	        <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.home" ng-options="home.url as home.name for home in itemHomes"></select>
          </dd>
 		</dl>
      <h3>Actions</h3>
      <ul ng-hide="editing">
        <li><div class="btn primary norm" ng-click="edit()"><a href>Edit</a></div></li>
      </ul>
      <ul ng-show="editing">
        <li><div class="btn primary norm" ng-click="saveEdit()"><a href>Save</a></div></li>
        <li><div class="btn danger norm" ng-click="cancelEdit()"><a href>Cancel</a></div></li>
      </ul>
		</tab>
		<tab tab-title="Notes ({{ notes.length }})">
			<table class="striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Punter</th>
						<th>Ticket type</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ticket in tickets track by ticket.id" class="dn-bounce">
						<td><a href="#/tickets/{{ ticket.id }}">{{ ticket.id }}</a></td>
						<td><a ng-show="ticket.punter" href="{{ punterUrl(ticket.punter) }}">{{ ticket.punter.name }}</a><span ng-show="!ticket.punter">Guest</span></td>
						<td>{{ ticket.ticket_type.name }}</td>
						<td>{{ ticket.status }}</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab tab-title="Pictures ({{ pictures.length }})">
			<table class="striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Punter</th>
						<th>Ticket type</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ticket in tickets track by ticket.id" class="dn-bounce">
						<td><a href="#/tickets/{{ ticket.id }}">{{ ticket.id }}</a></td>
						<td><a ng-show="ticket.punter" href="{{ punterUrl(ticket.punter) }}">{{ ticket.punter.name }}</a><span ng-show="!ticket.punter">Guest</span></td>
						<td>{{ ticket.ticket_type.name }}</td>
						<td>{{ ticket.status }}</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab tab-title="Quotes ({{ quotes.length }})">
			<table class="striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Punter</th>
						<th>Ticket type</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ticket in tickets track by ticket.id" class="dn-bounce">
						<td><a href="#/tickets/{{ ticket.id }}">{{ ticket.id }}</a></td>
						<td><a ng-show="ticket.punter" href="{{ punterUrl(ticket.punter) }}">{{ ticket.punter.name }}</a><span ng-show="!ticket.punter">Guest</span></td>
						<td>{{ ticket.ticket_type.name }}</td>
						<td>{{ ticket.status }}</td>
					</tr>
				</tbody>
			</table>
		</tab>
	</tabs>
</div>
