<div ng-show="loading"><h2>Loading...</h2></div>
<div ng-if="!loading">
	<h2><div class="btn primary large" ng-click="hBack()"><a href><i class="icon-arrow-left"></i></a></div> {{ data.name }}</span></h2>
	<tabs>
		<tab tab-title="Information">
			<dl>
				<dt>Asset ID</dt><dd>{{ data.id }}</dd>
        <dt>Name</dt><dd>{{ data.name }}</dd>
				<dt>Details</dt><dd>{{ data.details }}</dd>
        <dt>Purchase Date</dt><dd>{{ data.purchase_date | date : 'dd/MM/yy' }}</dd>
        <dt>Purchase Price</dt><dd>&pound;{{ data.purchase_price | number : 2 }}</dd>
        <dt>Original Supplier</dt><dd>{{ data.supplier.name }}</dd>
        <dt>Category</dt><dd>{{ data.category.name }}</dd>
        <dt>Status</dt><dd>{{ data.status.name }}</dd>
        <dt>Owner</dt><dd>{{ data.owner.name }}</dd>
        <dt>Responsible Comittee Position</dt><dd>{{ data.responsible_position.name }}</dd>
        <dt>Home</dt><dd>{{ data.home.name }}</dd>
			</dl>
		</tab>
		<tab tab-title="Quotes ({{ quotes.length }})">
			<table class="striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Punter</th>
						<th>Ticket type</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ticket in tickets track by ticket.id" class="dn-bounce">
						<td><a href="#/tickets/{{ ticket.id }}">{{ ticket.id }}</a></td>
						<td><a ng-show="ticket.punter" href="{{ punterUrl(ticket.punter) }}">{{ ticket.punter.name }}</a><span ng-show="!ticket.punter">Guest</span></td>
						<td>{{ ticket.ticket_type.name }}</td>
						<td>{{ ticket.status }}</td>
					</tr>
				</tbody>
			</table>
		</tab>
	</tabs>
</div>
