<div ng-show="loading"><h2>Loading...</h2></div>
<div ng-if="!loading">
	<h2><div class="btn primary large" ng-click="hBack()"><a href><i class="icon-arrow-left"></i></a></div> {{ data.name }}</span></h2>
	<tabs>
		<tab tab-title="Information">
			<dl>
        <dt>Name</dt>
          <dd ng-hide="editing">{{ data.name }}</dd>
          <dd ng-show="editing" class="field">
            <input type="text" class="xxwide text input" ng-model="edit_data.name">
          </dd>
				<dt>Details</dt>
          <dd ng-hide="editing">{{ data.details }}</dd>
          <dd ng-show="editing" class="field">
            <textarea class="xxwide textarea input" ng-model="edit_data.details"></textarea>
        <dt>Category</dt>
          <dd ng-hide="editing">{{ data.category.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.category" ng-options="category.url as category.name for category in itemCategories"></select>
          </dd>
        <dt>Owner</dt>
          <dd ng-hide="editing">{{ data.owner.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.owner" ng-options="owner.url as owner.name for owner in itemOwners"></select>
          </dd>
        <dt>Responsible Comittee Position</dt>
          <dd ng-hide="editing">{{ data.responsible_position.name }}</dd>
          <dd ng-show="editing" class="field">
            <select class="xxwide select input" ng-model="edit_data.responsible_position" ng-options="position.url as position.name for position in itemResponsiblePositions"></select>
          </dd>
        <dt>Wiki Page</dt>
          <dd ng-hide="editing"><a href="https://wiki.wide.icucinema.co.uk/Assets/{{ data.wiki }}">Wiki Page</a></dd>
          <dd ng-show="editing" class="field">
            <input type="text" class="xxwide text input" ng-model="edit_data.wiki">
          </dd>
  		</dl>
      <h3>Actions</h3>
      <ul ng-hide="editing">
        <li><div class="btn primary norm" ng-click="edit()"><a href>Edit</a></div></li>
      </ul>
      <ul ng-show="editing">
        <li><div class="btn primary norm" ng-click="saveEdit()"><a href>Save</a></div></li>
        <li><div class="btn danger norm" ng-click="cancelEdit()"><a href>Cancel</a></div></li>
      </ul>

      <h3>Instances ({{ instances.length }})</h3>
        <table class="striped">
          <thead>
            <tr>
              <th>Asset ID</th>
              <th>Status</th>
              <th>Home</th>
              <th>Purchase Date</th>
              <th>Purchsae Price</th>
              <th>Supplier</th>
              <th>Comment</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-controller="InstanceCtrl" ng-repeat="instance in instances track by instance.id" class="dn-bounce">
            <td>
              {{ instance.id }}
            </td>
            <td>
              <span ng-hide="editing">{{ instance.status.name }}</span>
              <span ng-show="editing"><select class="xxwide select input" ng-model="edit_data.status" ng-options="status.url as status.name for status in itemStatuses"></select></span>
            </td>
            <td>
              <span ng-hide="editing">{{ instance.home.name }}</span>
     	        <span ng-show="editing"><select class="xxwide select input" ng-model="edit_data.home" ng-options="home.url as home.name for home in itemHomes"></select></span>
            </td>
            <td>
              <span ng-hide="editing">{{ instance.purchase_date | date : 'dd/MM/yyyy' }}</span>
              <span ng-show="editing"><input type="text" class="xxwide text input" placeholder="dd/mm/yyyy" ng-model="edit_data.purchase_date" ng-pattern="/(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d/"></span>
            </td>
            <td>
              <span ng-hide="editing">{{ instance.purchase_price | nullCurrency : "&pound;" }}</span>
              <span ng-show="editing"><input type="text" class="xxwide text input" ng-model="edit_data.purchase_price"></span>
            </td>
            <td>
              <span ng-hide="editing">{{ instance.supplier.name }}</span>
              <span ng-show="editing"><select class="xxwide select input" ng-model="edit_data.supplier" ng-options="supplier.url as supplier.name for supplier in suppliers"></select></span>
            </td>
            <td>
              <span ng-hide="editing">{{ instance.comment }}</span>
              <span ng-show="editing"><input type="text" class="xxwide text input" ng-model="edit_data.comment"></span>
            </td>
            <td>
              <ul ng-hide="editing">
                <li><div class="btn primary norm" ng-click="editInstance($index)"><a href>Edit</a></div></li>
                <li><div class="btn danger norm" ng-click="duplicateInstance($index)"><a href>Duplicate</a></div></li>
              </ul>
              <ul ng-show="editing">
                <li><div class="btn primary norm" ng-click="saveEditInstance($index)"><a href>Save</a></div></li>
                <li><div class="btn danger norm" ng-click="cancelEditInstance()"><a href>Cancel</a></div></li>
              </ul>
            </td>
          </tr>
      
          <tr id="newInstanceTr">
            <td>
              Add New:
            </td>
            <td>
              <select class="xxwide select input" ng-model="newInstance.status" ng-options="status.url as status.name for status in itemStatuses"></select>
            </td>
            <td>
     	        <select class="xxwide select input" ng-model="newInstance.home" ng-options="home.url as home.name for home in itemHomes"></select>
            </td>
            <td>
              <input type="text" class="xxwide text input date-input" placeholder="dd/mm/yyyy" ng-model="newInstance.purchase_date" ng-pattern="/(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d/">
            </td>
            <td>
              <input type="text" class="xxwide text input price-input" ng-model="newInstance.purchase_price">
            </td>
            <td>
              <select class="xxwide select input" ng-model="newInstance.supplier" ng-options="supplier.url as supplier.name for supplier in suppliers"></select>
            </td>
            <td>
              <input type="text" class="xxwide text input" ng-model="newInstance.comment">
            </td>
            <td>
              <div class="norm primary btn" ng-click="addInstance(newInstance)"><a href>Add</a></div>
            </td>
          </tr>
          </form>

        </tbody>
      </table>  
		</tab>
		<tab tab-title="Notes ({{ notes.length }})">
			<table class="striped">
				<thead>
					<tr>
						<th>Note</th>
						<th>Date Added</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-controller="NoteCtrl" ng-repeat="note in notes track by note.id" class="dn-bounce">
            <td>
              <span ng-hide="editing">{{ note.text }}</span>
              <textarea class="wide textarea input" ng-model="edit_data.text" ng-show="editing"></textarea>
            </td>
            <td>{{ note.date_added | date : "dd/MM/yyyy" }}</td>
            <td>
              <div class="btn primary norm" ng-click="editNote($index)" ng-hide="editing"><a href>Edit</a></div>
              <ul ng-show="editing">
                <li><div class="btn primary norm" ng-click="saveEditNote($index)"><a href>Save</a></div></li>
                <li><div class="btn danger norm" ng-click="cancelEditNote()"><a href>Cancel</a></div></li>
              </ul>
            </td>
					</tr>
				</tbody>
			</table>
		  <h3>Add Note</h3>
      <form ng-submit="addNote(newNote)">
        <ul>
          <li class="field">
            <label class="inline" for="manual-text">Text</label>
            <textarea class="xxwide textarea input" id="manual-text" ng-model="newNote.text"></textarea>
          </li>
          <li>
            <div class="norm primary btn">
              <input type="submit" value="Add"></div>
          </li>
        </ul>
      </form>
    </tab>
		<tab tab-title="Pictures ({{ pictures.length }})">
      <h3>Pictures</h3>
      <div ng-repeat="picture in pictures">
        <img src="{{ media_root }}{{ picture.image }}" width="200" />
      </div>

      <h3>Upload New Picture</h3>
      <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
      <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
      <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
           ng-show="dropSupported">drop files here</div>
      <div ng-file-drop-available="dropSupported=true" 
           ng-show="!dropSupported"></div>
	  </tab>
		<tab tab-title="Quotes ({{ quotes.length }})">
      <p>This section lists quoted replacement costs for the equipment concerned.</p>
      <p>The purpose of this is to keep track of the current best-estimate cost to replace equipment we own based on the most up to date quote we have, rather than the initial purchase price.</p>
		  <table class="striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Supplier</th>
            <th>Amount</th>
            <th>Link</th>
            <th>Notes</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-controller="QuoteCtrl" ng-repeat="quote in quotes track by quote.id" class="dn-bounce">
            <td>
              <span ng-hide="editing">{{ quote.date | date : "dd/MM/yyyy" }}</span>
              <span ng-show="editing"><input type="text" class="narrow text input date-input" placeholder="dd/mm/yyyy" ng-model="edit_data.date" ng-pattern="/(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d/"></span> 
            </td>
            <td>
              <span ng-hide="editing">{{ quote.supplier.name }}</span>
              <span ng-show="editing"><select class="xxwide select input" ng-model="edit_data.supplier" ng-options="supplier.url as supplier.name for supplier in suppliers"></select></span>
            </td>
            <td>
              <span ng-hide="editing">{{ quote.amount | currency : "&pound;" }}</span>
              <span ng-show="editing"><input type="text" class="text input price-input" ng-model="edit_data.amount"></span>
            </td>
            <td>
              <span ng-hide="editing"><a href="{{ quote.quote_url }}" target="_blank">Link</a></span>
              <span ng-show="editing"><input type="text" class="text input" ng-model="edit_data.quote_url"></span>
            </td>
            <td>
              <span ng-hide="editing">{{ quote.notes }}</span>
              <span ng-show="editing"><textarea class="text textarea" ng-model="edit_data.notes"></textarea></span>
            </td>
            <td>
              <div class="btn primary norm" ng-click="editQuote($index)" ng-hide="editing"><a href>Edit</a></div>
              <ul ng-show="editing">
                <li><div class="btn primary norm" ng-click="saveEditQuote($index)"><a href>Save</a></div></li>
                <li><div class="btn danger norm" ng-click="cancelEditQuote()"><a href>Cancel</a></div></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <h3>Add Quote</h3>
      <form ng-submit="addQuote(newQuote)">
        <dt>Quote Date <small>The date on which the quote was issued.</small></dt>
          <dd class="field">
            <input type="text" class="xxwide text input" placeholder="dd/mm/yyyy" ng-model="newQuote.date" ng-pattern="/(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d/">
          </dd>
          <dt>Total Amount <small>The quoted amount of <strong>one</strong> of the items concerned, in GBP excluding VAT.</small></dt>
          <dd class="field">
            <input type="text" class="xxwide text input" ng-model="newQuote.amount">
          </dd>
          <dt>Supplier <small>The company the quote was provided by.</small></dt>
          <dd class="field">
            <select class="xxwide select input" ng-model="newQuote.supplier" ng-options="supplier.url as supplier.name for supplier in suppliers"></select>
          </dd>
          <dt>Link <small>A Link to the quotation document, if applicable.</small></dt>
          <dd class="field">
            <input type="text" class="xxwide text input" ng-model="newQuote.quote_url">
          </dd>
          <dt>Notes <small>Any other information to attach to this quote record.</small></dt>
          <dd class="field">
            <textarea class="xxwide input textarea" ng-model="newQuote.notes"></textarea>
          </dd>
          <div class="norm primary btn">
              <input type="submit" value="Add"></div>
          </li>
        </ul>
      </form>
    </tab>
		<tab tab-title="History ({{ history.length }})">
      <h3>This feature is not yet implemented.</h3>
	  </tab>
	</tabs>
</div>
